<template>
  <main class="main mr-20">
    <!-- top-level-controls -->
    <div class="top-level-controls w-full relative">
      <span class="input-text flex justify-center items-center absolute">Scanner Source:</span>
      <div class="source-container relative">
        <select
          id="source"
          class="hidden-select"
        ></select>
        <MultiSelect
          class="w-full"
          :options="sources"
          :value="selectedSource"
          label="scanningDevice"
          placeholder="Select One"
          @input="updateSource"
          @open="populateSources"
          :showLabels="false"
          :allow-empty="false"
          :preselectFirst="true"
        >
          <template slot="noResult">
            <span class="noResult">No Result Found</span>
          </template>>
        </MultiSelect>
      </div>

      <!-- Upload, Scan, Save buttons -->
      <div class="doc-btns-container flex justify-between ml-10">
        <button
          class="ds-btns main-btn-blue hover:bg-blue-dark flex items-center justify-center"
          @click="showLines = !showLines"
        >{{marginAction}}</button>
        <!-- Upload btn -->
        <div>
          <input
            type="file"
            name="file"
            id="file"
            accept="application/pdf, .pdf, image/tiff, .tif, .tiff"
            :value="currentUploadedFile"
            @input="uploadFile"
            class="inputfile"
            @click="nullifyUpload()"
            ref="uploadBtn"
          />
          <label
            class="ds-btns main-btn-blue hover:bg-blue-dark flex items-center justify-center"
            for="file"
          >Upload</label>
        </div>
        <!-- End: Upload btn -->
        <button
          class="ds-btns border flex justify-center items-center"
          :class="{'main-btn-blue': enableScan}"
          :disabled="!enableScan"
          @click="basicScan"
        >Scan</button>
        <button
          class="ds-btns border flex justify-center items-center"
          :class="saveBtnClassObj"
          :disabled="!enableSave"
          @click="save"
        >Save</button>
      </div>
    </div>
    <!-- END top-level-controls -->
    <section class="dynamsoft-section flex justify-start items-center">
      <!-- Thumbnails! -->
      <div
        id="dwtcontrolContainer"
        class="dwtcontrolContainer border border-blue"
        @click="handleThumbnailsClick"
      ></div>
      <div class="main-viewer-container relative">
        <button
          class="absolute h-1 w-1 pin-t pin-l"
          ref="removeDocAreaSelectorBtn"
        ></button>
        <!-- Large Viewer -->
        <div
          id="dwtLargeViewer"
          class="dwtLargeViewer mt-2"
        ></div>
        <hr
          class="hz-lines absolute m-0"
          v-show="showLines"
          id="top"
        />
        <hr
          class="hz-lines absolute m-0"
          v-show="showLines"
          id="bottom"
        />
        <div
          class="vt-lines absolute"
          v-show="showLines"
          id="left"
        ></div>
        <div
          class="vt-lines absolute"
          v-show="showLines"
          id="right"
        ></div>
      </div>
    </section>
    <footer class="dynamsoft-section-footer w-full flex justify-center items-center mt-8">
      <div class="footer-controls-container flex justify-between items-center">
        <i
          class="fa fa-step-backward w-6 font-hairline fa-grey text-3xl mr-2"
          @click="goToStart"
        ></i>
        <i
          class="fa fa-angle-left font-normal fa-black w-6 text-3xl mx-2"
          @click="goToPrevious"
        ></i>
        <span class="border h-10 w-10 border-grey-light bg-white flex justify-center items-center text-center mx-2">{{currentImage}}</span>
        <span class="text-3xl">/</span>
        <span class="border h-10 w-10 border-grey-light bg-white flex justify-center items-center text-center mx-2">{{imagesInBuffer}}</span>
        <i
          class="fa fa-angle-right font-normal fa-black w-6 text-3xl mx-2"
          @click="goToNext"
        ></i>
        <i
          class="fa fa-step-forward w-6 fa-grey font-hairline text-3xl ml-2"
          @click="goToEnd"
        ></i>
      </div>
    </footer>
    <ActionsModal
      v-if="showActionsModal"
      @close="showActionsModal = false"
      @cancel="removeDocAreaSelector"
      @crop="crop"
      @resize="resize"
    />
  </main>
</template>

<script>
// Initiate DWObject, DWObjectLargeViewer globally for this component
let DWObject,
  DWObjectLargeViewer,
  _index,
  _iLeft,
  _iTop,
  _iRight,
  _iBottom,
  sourceCount = 0;

function updateLargeViewer () {
  DWObject.CopyToClipboard(DWObject.CurrentImageIndexInBuffer); // Copy the current image in the thumbnail to clipboard in DIB format.
  DWObjectLargeViewer.RemoveAllImages();
  DWObjectLargeViewer.LoadDibFromClipboard(); // Load the image from Clipboard into the large viewer.
  DWObjectLargeViewer.FitWindowType = 1;
}

function Dynamsoft_OnImageAreaSelected (index, left, top, right, bottom) {
  _index = index;
  _iLeft = left;
  _iTop = top;
  _iRight = right;
  _iBottom = bottom;
}

import CommonInput from "../Utilities/CommonInput.vue";
import LoadingIndicator from "../UserInterface/LoadingIndicator.vue";
import MultiSelect from "vue-multiselect";
import ActionsModal from "./ActionsModal.vue";

export default {
  name: "DynamSoft",

  components: {
    CommonInput,
    MultiSelect,
    LoadingIndicator,
    ActionsModal
  },

  props: {},
  mounted () {
    Dynamsoft.WebTwainEnv.Load();
    Dynamsoft.WebTwainEnv.AutoLoad = false;
    Dynamsoft.WebTwainEnv.RegisterEvent(
      "OnWebTwainReady",
      this.Dynamsoft_OnReady
    );
    setTimeout(() => {
      this.populateSources();
      if (this.sources) {
        this.selectedSource = this.sources[0];
      }
    }, 2000);
  },

  beforeDestroy () {
    Dynamsoft.WebTwainEnv.DeleteDWTObject("dwtcontrolContainer");
    Dynamsoft.WebTwainEnv.DeleteDWTObject("dwtLargeViewer");
  },

  data () {
    return {
      selectedSource: "",
      currentUploadedFile: "",
      hasScannedDoc: false,
      scannedFileTracker: 1,
      imagesInBuffer: 0,
      currentImage: null,
      fileInfo: {},
      sources: [],
      filesUploadedOrScanned: [],
      showLoadingIndicator: false,
      showActionsModal: false,
      loadingMsg: "",
      lastImageIndex: -1,
      showLines: false
    };
  },

  methods: {
    crop () {
      const vm = this;
      let currentWidth = DWObjectLargeViewer.GetImageWidth(_index); // Should be 2550
      let currentHeight = DWObjectLargeViewer.GetImageHeight(_index); // Should be 3300
      DWObjectLargeViewer.Crop(_index, _iLeft, _iTop, _iRight, _iBottom);
      const widthAfterCrop = DWObjectLargeViewer.GetImageWidth(_index);
      const heightAfterCrop = DWObjectLargeViewer.GetImageHeight(_index);
      const amountToAddToTopBottom = Math.floor(
        (currentHeight - heightAfterCrop) / 2
      );
      const amountToAddToEachSide = Math.floor(
        (currentWidth - widthAfterCrop) / 2
      );
      currentWidth = widthAfterCrop;
      currentHeight = heightAfterCrop;
      currentWidth = currentWidth + amountToAddToEachSide;
      DWObjectLargeViewer.SetImageWidth(_index, currentWidth);
      DWObjectLargeViewer.Rotate(_index, 180, true);
      currentWidth = currentWidth + amountToAddToEachSide;
      DWObjectLargeViewer.SetImageWidth(_index, currentWidth);
      DWObjectLargeViewer.Rotate(_index, -180, true);
      DWObjectLargeViewer.RotateRight(_index);
      currentHeight = currentHeight + amountToAddToTopBottom;
      DWObjectLargeViewer.SetImageWidth(_index, currentHeight);
      DWObjectLargeViewer.Rotate(_index, 180, true);
      currentHeight = currentHeight + amountToAddToTopBottom;
      DWObjectLargeViewer.SetImageWidth(_index, currentHeight);
      DWObjectLargeViewer.Rotate(_index, -180, true);
      DWObjectLargeViewer.RotateLeft(_index);
      if (vm.fileInfo.fileExt == "pdf") {
        DWObjectLargeViewer.Addon.PDF.SetResolution(300);
      } else if (vm.fileInfo.fileExt == "tiff") {
        DWObjectLargeViewer.SetDPI(_index, 2550, 3300, false, 3);
      } else {
        /**
         * Need to think about what to do when file type is invalid.
         */
      }
      this.updateSideViewerAfterEdit();
    },

    resize () {
      const vm = this;
      /**
       * Height should be resized to 2700
       * Width should be resized to  1950 (probably wrong), 2086 seems more accurate
       */
      let currentWidth = DWObjectLargeViewer.GetImageWidth(_index); // Should be 2550
      let currentHeight = DWObjectLargeViewer.GetImageHeight(_index); // Should be 3300
      DWObjectLargeViewer.Crop(_index, _iLeft, _iTop, _iRight, _iBottom);
      DWObjectLargeViewer.ChangeImageSize(_index, 2086, 2700, 4);
      DWObjectLargeViewer.SetImageWidth(_index, 2318);
      DWObjectLargeViewer.Rotate(_index, 180, true);
      DWObjectLargeViewer.SetImageWidth(_index, 2550);
      DWObjectLargeViewer.Rotate(_index, -180, true);
      DWObjectLargeViewer.RotateRight(_index);
      DWObjectLargeViewer.SetImageWidth(_index, 3000);
      DWObjectLargeViewer.Rotate(_index, 180, true);
      DWObjectLargeViewer.SetImageWidth(_index, 3300);
      DWObjectLargeViewer.Rotate(_index, -180, true);
      DWObjectLargeViewer.RotateLeft(_index);

      if (vm.fileInfo.fileExt == "pdf") {
        DWObjectLargeViewer.Addon.PDF.SetResolution(300);
      } else if (vm.fileInfo.fileExt == "tiff") {
        DWObjectLargeViewer.SetDPI(_index, 2550, 3300, false, 3);
      } else {
        /**
         * Need to think about what to do when file type is invalid.
         */
      }

      this.updateSideViewerAfterEdit();
    },

    updateSideViewerAfterEdit () {
      DWObjectLargeViewer.CopyToClipboard(_index);
      DWObject.LoadDibFromClipboard(
        () => {
          /**
           * Successful load sideview from clipboard,
           * Need to remove previous
           */
          const previousImage = DWObject.CurrentImageIndexInBuffer - 1;
          DWObject.RemoveImage(previousImage);
        },
        () => {
          /**
           * Fail callback
           */
          console.error("Loading DIB image from clipboard failed for sideview");
        }
      );
    },

    removeDocAreaSelector () {
      this.$refs["removeDocAreaSelectorBtn"].click();
    },

    Dynamsoft_OnReady () {
      const vm = this;
      DWObject = Dynamsoft.WebTwainEnv.GetWebTwain("dwtcontrolContainer");
      if (DWObject) {
        if (DWObject.Addon && DWObject.Addon.PDF) {
          DWObject.Addon.PDF.SetResolution(300);
          DWObject.Addon.PDF.SetConvertMode(EnumDWT_ConvertMode.CM_RENDERALL);
          console.log("DWObject Addon PDF is set");
        }
        // configuration properties
        DWObject.LogLevel = 0;
        DWObject.IfAllowLocalCache = true;
        DWObject.ImageCaptureDriverType = 3;
        DWObject.IfAppendImage = true;
        DWObject.IfAutoScroll = true;
        DWObject.BackgroundColor = 0xf8f8f8;
        DWObject.Height = 650;
        DWObject.Width = 225;
        DWObject.SetViewMode(1, 3);
        DWObject.MouseShape = false;
        DWObject.TIFFCompressionType = EnumDWT_TIFFCompressionType.TIFF_T6;
        DWObject.PixelType = EnumDWT_PixelType.TWPT_BW;
        DWObject.BitDepth = 1;

        DWObject.RegisterEvent("OnMouseClick", updateLargeViewer);
        DWObject.RegisterEvent(
          "OnImageAreaSelected",
          Dynamsoft_OnImageAreaSelected
        );
        _iLeft = 0;
        _iTop = 0;
        _iRight = 0;
        _iBottom = 0;
        Dynamsoft.WebTwainEnv.CreateDWTObject(
          "dwtLargeViewer",
          function (newDWTObject) {
            DWObjectLargeViewer = newDWTObject;
            DWObjectLargeViewer.Width = 502;
            DWObjectLargeViewer.Height = 650;
            DWObjectLargeViewer.SetViewMode(-1, -1); // When the view mode is set to -1 by -1, the control only shows the current image. No scroll bar is provided to navigate to other images.
            DWObjectLargeViewer.IfFitWindow = true;
            // DWObjectLargeViewer.Zoom = 100;
            DWObjectLargeViewer.FitWindowType = 2;
            // DWObjectLargeViewer.MaxImagesInBuffer = 1; // Set it to hold one image only
            DWObjectLargeViewer.SetDPI(0, 300, 300, true, 3); //BiCubic
            DWObjectLargeViewer.BackgroundColor = 0xc6c6c6;
            DWObjectLargeViewer.BitDepth = 1;

            // show the section once all DS objects has been styled and instantiated
            document.querySelector(".dynamsoft-section").style.visibility =
              "visible";
            DWObjectLargeViewer.RegisterEvent("OnImageAreaSelected", function (
              index,
              left,
              top,
              right,
              bottom
            ) {
              Dynamsoft_OnImageAreaSelected(index, left, top, right, bottom);
              vm.showActionsModal = true;
            });
          },
          // error handler for CreateDWTObject
          function (errorString) {
            console.log(errorString);
          }
        );

        setTimeout(() => {
          let twainsource = document.getElementById("source");

          //Sets the amount of sources shown in the scanner dropdown
          DWObject.CloseSourceManager();
          DWObject.ImageCaptureDriverType = 0;
          DWObject.OpenSourceManager();
          sourceCount = DWObject.SourceCount;

          if (twainsource) {
            twainsource.options.length = 0;
            for (let i = 0; i < sourceCount; i++) {
              twainsource.options.add(
                new Option(DWObject.GetSourceNameItems(i), i)
              );
            }
          }
        }, 1000);
      }
    },
    updateSource (obj) {
      this.selectedSource = obj;
      DWObject.SelectSourceByIndex(obj.index);
    },

    populateSources () {
      if (this.sources.length == 0) {
        const sources = document.getElementById("source").options;
        for (let i = 0; i < sources.length; i++) {
          const scanningDevice = sources[i].innerText;
          const index = i;
          this.sources.push({
            scanningDevice,
            index
          });
        }
      }
    },

    setBitDepths () {
      for (let i = 0; i < DWObject.HowManyImagesInBuffer; i++) {
        let bitDepth = DWObject.GetImageBitDepth(i);
        if (bitDepth != 1) {
          DWObject.ChangeBitDepth(i, 1, false);
        }
      }
    },
    /**
     * This method is used to address a bug where if the user tries to upload
     * the same file consecutively it the input file selection would not fire an onchange,
     * preventing selection. More details in the stackoverflow article below.
     *
     * https://stackoverflow.com/questions/12030686/html-input-file-selection-event-not-firing-upon-selecting-the-same-file
     */
    nullifyUpload () {
      this.$refs.uploadBtn.value = null;
    },

    uploadFile (e) {
      const vm = this;
      vm.currentUploadedFile = e.target.value;
      const fileObj = e.target.files[0];
      const fileExt = fileObj.name
        .split(".")
        .pop()
        .toLowerCase();
      this.fileInfo = {
        fileObj,
        fileExt
      };
      let xbase64 = "";
      let reader = new FileReader();
      reader.readAsBinaryString(fileObj);
      reader.onloadend = function (e) {
        xbase64 = e.target.result;
        let ybase64 = btoa(xbase64);
        // Strips the header portion of the base64 encode
        ybase64 = ybase64.replace("^data:image/[a-zA-Z]+;base64,", "");
        DWObject.IfAppendImage = true;
        DWObject.IfAutoScroll = true;

        // DWObject.GetImageWidth(DWObject.CurrentImageIndexInBuffer);
        DWObject.LoadImageFromBase64Binary(
          ybase64,
          EnumDWT_ImageType.IT_TIF,
          function () {
            DWObject.CurrentImageIndexInBuffer = -1;
            vm.setBitDepths();
            vm.updateLargeViewer();
            vm.filesUploadedOrScanned.push(fileObj.name);
            vm.lastImageIndex = DWObject.HowManyImagesInBuffer - 1;
          },
          function () {
            //Optional Async Function
            console.log("Error on file upload attempt");
          }
        );
      };
    },

    updateLargeViewer () {
      updateLargeViewer();
      this.logIfDynamSoftErr();
      this.imagesInBuffer = DWObject.HowManyImagesInBuffer;
      this.currentImage = DWObject.CurrentImageIndexInBuffer + 1;
    },
    /**
     * Use for debugging DynamSoft method calls.
     */
    logIfDynamSoftErr () {
      if (this.isDSCallSuccessful() == false) {
        console.log("DS ErrorCode", DWObject.ErrorCode);
        console.log("DS ErrorMsg", DWObject.ErrorString);
        console.log("DS PostResponse", DWObject.HTTPPostResponseString);
      }
    },

    isDSCallSuccessful () {
      return DWObject.ErrorCode == 0;
    },

    handleThumbnailsClick () {
      this.imagesInBuffer = DWObject.HowManyImagesInBuffer;
      this.currentImage = DWObject.CurrentImageIndexInBuffer + 1;
    },

    /**
     * Footer Controls, used to show the proper image selection
     * based on user navigation with the controls in the footer
     */
    goToStart () {
      const imagesLeft = DWObject.HowManyImagesInBuffer;
      if (imagesLeft == 0) return;
      DWObject.CurrentImageIndexInBuffer = 0;
      this.updateLargeViewer();
    },

    goToPrevious () {
      const imagesLeft = DWObject.HowManyImagesInBuffer;
      if (imagesLeft == 0) return;
      DWObject.previous();
      DWObjectLargeViewer.previous();
      this.updateLargeViewer();
    },

    goToNext () {
      const imagesLeft = DWObject.HowManyImagesInBuffer;
      if (imagesLeft == 0) return;
      DWObject.next();
      DWObjectLargeViewer.next();
      this.updateLargeViewer();
    },

    goToEnd () {
      const imagesLeft = DWObject.HowManyImagesInBuffer;
      if (imagesLeft == 0) return;
      DWObject.CurrentImageIndexInBuffer = DWObject.HowManyImagesInBuffer - 1;
      this.updateLargeViewer();
    },
    /**
     * This will start the process to send the file to the AWS server
     */
    save () {
      console.log("Save button pressed");
    },

    basicScan () {
      const vm = this;
      console.log("Scanning document");
      if (DWObject) {
        DWObject.ImageCaptureDriverType = 0;

        DWObject.RegisterEvent("OnPostTransfer", function () {
          const str = `Scanned-File-${vm.scannedFileTracker}`;
          vm.scannedFileTracker++;
          vm.lastImageIndex = DWObject.HowManyImagesInBuffer - 1;
          DWObject.CurrentImageIndexInBuffer = -1;
          vm.setBitDepths();
          vm.updateLargeViewer();
          vm.filesUploadedOrScanned.push(str);
          vm.hasScannedDoc = true;
        });

        DWObject.RegisterEvent("OnPostAllTransfers", function () {
          DWObject.CloseSource();
        });

        let cIndex = vm.selectedSource.index;

        if (cIndex === "") {
          return;
        }

        DWObject.SelectSourceByIndex(cIndex);
        DWObject.SetOpenSourceTimeout(3000);
        DWObject.OpenSource();
        DWObject.IfShowUI = false;
        DWObject.IfDisableSourceAfterAcquire = true;
        DWObject.PixelType = EnumDWT_PixelType.TWPT_BW;
        DWObject.BitDepth = 1;
        DWObject.PageSize = EnumDWT_CapSupportedSizes.TWSS_A4;
        DWObject.Resolution = 300;
        DWObject.IfFeederEnabled = true;
        DWObject.IfDuplexEnabled = false;
        DWObject.IfAppendImage = true;
        DWObject.AcquireImage();
      }
    }
  }, // end methods

  computed: {
    enableSave () {
      return !!this.currentUploadedFile || this.hasScannedDoc;
    },

    saveBtnClassObj () {
      return {
        "btn-green": this.enableSave,
        "hover:bg-green-dark": this.enableSave,
        "save-ready": this.enableSave
      };
    },

    enableScan () {
      return this.sources.length > 0;
    },

    marginAction () {
      return this.showLines ? "Hide Lines" : "Show Lines";
    }
  },

  watch: {}
};
</script>
<style src="../../../assets/css/multiselect.css"></style>
<style scoped>
.main {
  background: #ffffff;
  overflow-x: auto;
  width: 100%;
  height: 95%;
}

.top-level-controls {
  height: 70px;
  width: 760px;
  margin-top: 10px;
  display: grid;
  padding: 0;
  grid-template-columns: 230px 1fr;
  align-items: center;
  border-bottom: 2px solid #7da2ce;
  margin-bottom: 10px;
}

.doc-btns-container {
  width: 75%;
}

.main-body {
  height: 180px;
}
.push-right {
  margin-left: 40px;
}

.duplex-container {
  margin-left: 20px;
}

.ds-btns {
  box-sizing: border-box;
  height: 32px;
  min-width: 80px;
  padding: 5px;
}

.dynamsoft-section {
  width: 1100px;
  margin-top: 3rem;
  visibility: hidden;
}

#dwtcontrolContainer {
  border: 1px solid #ababaa;
  width: 225px;
  height: 650px;
  margin-right: 3rem;
}

#dwtLargeViewer {
  border: 1px solid #ababaa;
  width: 502px;
  height: 650px;
}

.dynamsoft-section-footer {
  height: 68px;
}

.footer-controls-container {
  width: 225px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #2779bd;
}

.forms-container {
  height: 686px;
  padding-top: 17px;
}
/* prettier-ignore */
.main-btn-blue {
  @apply bg-blue text-white font-bold;
}

.hz-lines {
  border: 1px solid red;
  z-index: 20;
  width: 502px;
}

#top {
  top: 59.09px;
}

#bottom {
  bottom: 64.09px;
}

.vt-lines {
  border-left: 2px solid red;
  z-index: 20;
  height: 650px;
}

#left {
  top: 0;
  left: 60px;
}

#right {
  top: 0;
  right: 60px;
}

.input-text {
  @apply flex items-center text-base mx-4 text-xl;
}

.input-text {
  top: -6px;
  left: -10px;
}
.source-container {
  width: 230px;
  padding-bottom: 5px;
}

.hidden-select {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: -100px;
}

.save-ready {
  color: #fff;
  font-weight: 700;
}
</style>
