<template>
  <tr
    class="w-full h-24 p-0 border"
    :class="{'bg-grey-lightest' : index % 2 !== 0}"
    :style="rowCSS"
  >
    <td
      class="w-full h-full flex justify-center items-center text-center"
      v-for="value in dataToShow"
      v-html="value"
      :key="value"
    ></td>
  </tr>
</template>

<script>
export default {
  name: "DataTableRow",

  props: {
    rowData: {
      type: Object,
      required: true
    },

    index: {
      type: Number,
      required: true
    },

    rowCSS: {
      type: Object,
      required: true
    },

    keysToFilter: {
      type: Array,
      required: true
    }
  },

  computed: {
    dataToShow () {
      let obj = {};
      for (let key of this.keysToFilter) {
        obj[key] = this.rowData[key];
      }
      return obj;
    }
  }
};
</script>