<template>
  <div class="table-container bg-white w-full p-2 shadow mb-12">
    <header class="flex justify-between w-full h-16 bg-grey-lightest items-center mb-2 border relative pl-4">
      <input
        type="text"
        placeholder="Search..."
        class="h-10 w-64 border border-grey-light ml-2 pl-2 mr-4"
        v-model="searchText"
      />
      <div
        v-show="showPaginationControls"
        class="pagination-amt-selection w-48 absolute"
      >
        <span>Show</span>
        <select
          class="border bg-white"
          v-model.number="amountToPaginateBy"
          @change="moveToStart"
        >
          <option v-if="isPaginationAmountValid(25)">25</option>
          <option v-if="isPaginationAmountValid(50)">50</option>
          <option v-if="isPaginationAmountValid(100)">100</option>
        </select>
        <span>rows</span>
      </div>
      <PaginationControls
        class="top-pagination-controls"
        v-show="showPaginationControls"
        @start="moveToStart"
        @end="moveToEnd"
        @next="moveNext"
        @prev="movePrev"
        @pageChangeRequest="goToPage"
        :pages="paginationPages"
        :paginateBy="amountToPaginateBy"
        :totalResults="numRows"
      />
      <p
        v-if="showPaginationControls"
        class="results-count mr-4"
      >Showing {{displayStartPoint}} to {{displayEndPoint}} of {{numRows}} results</p>
      <p
        v-else
        class="mr-6"
      >{{numRows}} results</p>
    </header>
    <table class="w-full border-collapse">
      <thead>
        <tr
          class="cust-table-row w-full border bg-grey-lightest"
          :style="tableSetup.tableCSS"
        >
          <span
            class="w-full h-full flex justify-center items-center text-center"
            v-for="obj in tableSetup.headers"
          >
            <TableHeaderSort
              v-if="obj.type"
              :title="obj.title"
              :isAscending="ascending"
              :isActive="activeHeader"
              @click.native="getSortedResults(obj.title, obj.type)"
              :key="obj.title"
            />
            <th
              class="font-medium"
              v-else
            >{{obj.title}}</th>
          </span>
        </tr>
      </thead>
      <tbody>
        <DataTableRow
          v-for="(row, i) in currentPageResults"
          :rowData="row"
          :index="i"
          :rowCSS="tableSetup.tableCSS"
          :keysToFilter="keysToFilter"
          :key="i"
        />
      </tbody>
      <tfoot class="flex justify-center items-center w-full h-16 bg-grey-lightest mt-2">
        <PaginationControls
          v-show="showPaginationControls"
          @start="moveToStart"
          @end="moveToEnd"
          @next="moveNext"
          @prev="movePrev"
          @pageChangeRequest="goToPage"
          :pages="paginationPages"
          :paginateBy="amountToPaginateBy"
          :totalResults="numRows"
        />
      </tfoot>
    </table>
  </div>
</template>

<script>
import _ from "lodash";
import TableHeaderSort from "./TableHeaderSort";
import PaginationControls from "./PaginationControls";
import DataTableRow from "./DataTableRow";
import sortingMethods from "../../../mixins/sortingMethods";

export default {
  name: "DataTable",

  components: {
    DataTableRow,
    TableHeaderSort,
    PaginationControls
  },

  props: {
    rows: {
      type: Array,
      required: true
    },

    tableSetup: {
      type: Object,
      required: true
      /**
       * tableSetup prop object example
       * {
       *  headers: [{title: 'MANIFEST ID', type: 'manifestID'}],
       *  tableCSS: {
       *    minWidth: '700px',
       *    display: 'grid',
       *    "grid-template-columns": "repeat(3, 1fr)"
       *  }
       *
       * }
       */
    },

    explicitFilteringKeys: {
      type: Array,
      required: false
    },

    allowPagination: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  mixins: [sortingMethods],

  data () {
    return {
      searchText: "",
      sortRequest: false,
      sortRequestType: null,
      activeHeader: null,
      ascending: false,
      currentPage: 1,
      amountToPaginateBy: 25
    };
  },

  methods: {
    isPaginationAmountValid (num) {
      return this.numRows % num !== this.numRows;
    },

    moveToStart () {
      this.currentPage = 1;
    },

    moveToEnd () {
      this.currentPage = this.lastPagePossible;
    },

    movePrev () {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    },

    moveNext () {
      if (this.currentPage < this.lastPagePossible) {
        this.currentPage++;
      }
    },

    goToPage (pageIndex) {
      this.currentPage = this.paginationPages[pageIndex];
    },

    getSortedResults (title, type) {
      this.sortRequest = true;
      this.ascending = !this.ascending;
      this.sortRequestType = type;
      this.activeHeader = title;
    }
  },

  computed: {
    filteredRows () {
      const vm = this;
      vm.currentPage = 1;
      vm.amountToPaginateBy = 25;
      if (vm.searchText) {
        return vm.rows.filter(obj => {
          for (const key of vm.keysToFilter) {
            let currentVal = obj[key];
            if (currentVal != null && currentVal != undefined) {
              currentVal = String(currentVal).toLowerCase();
              let searchTerm = vm.searchText.toLowerCase();
              if (currentVal.indexOf(searchTerm) >= 0) {
                return obj;
              }
            }
          }
        });
      }
      return vm.rows;
    },

    sortedRows () {
      const key = this.sortRequestType;
      const asc = this.ascending;
      let data = _.cloneDeep(this.filteredRows);
      switch (key) {
        case "orderNumber":
        case "batchID":
        case "inputID":
        case "manifestID":
          data = this.sortByNum(data, key, asc);
          break;
        case "recordedDate":
        case "recordingDate":
        case "timestamp":
          data = this.sortByDate(data, key, asc);
          break;
        default:
          data = this.sortByString(data, key, asc);
      }
      return data;
    },

    numRows () {
      return this.filteredRows.length;
    },

    rowsMoreThan25 () {
      return this.numRows > 25;
    },

    showPaginationControls () {
      return this.rowsMoreThan25 && this.allowPagination;
    },

    displayEndPoint () {
      let endPoint = this.amountToPaginateBy * this.currentPage;
      if (endPoint <= this.numRows) {
        return endPoint;
      } else {
        return this.numRows;
      }
    },

    displayStartPoint () {
      return (
        this.amountToPaginateBy * this.currentPage - this.amountToPaginateBy + 1
      );
    },

    lastPagePossible () {
      let num = this.numRows / this.amountToPaginateBy;
      if (this.numRows % this.amountToPaginateBy > 0) {
        num = String(num);
        const indexOfPeriod = num.indexOf(".");
        const lastPage = Number(num.slice(0, indexOfPeriod));
        return lastPage + 1;
      } else {
        return num;
      }
    },

    paginationPages () {
      const num = this.currentPage;
      if (num <= 1) {
        return ["", "", 1, 2, 3];
      } else if (num == 2) {
        return ["", 1, 2, 3, 4];
      } else {
        return [num - 2, num - 1, num, num + 1, num + 2];
      }
    },

    currentPageResults () {
      const start = this.displayStartPoint - 1;
      const end = this.displayEndPoint;
      let dataToShow = this.filteredRows.slice(start, end);
      if (this.sortRequest) {
        dataToShow = this.sortedRows.slice(start, end);
      }
      return dataToShow;
    },

    keysToFilter () {
      if (!this.explicitFilteringKeys) {
        return this.tableSetup.headers.map(obj => obj.type);
      }
      return this.explicitFilteringKeys;
    }
  }
};
</script>

<style lang="scss" scoped>
.table-container {
  min-width: 795px;
}

.pagination-amt-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 200px;
}
.top-pagination-controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>