<template>
  <th
    :data-cy="title"
    class="font-medium relative pr-6 py-6"
    :class="{activate: isHeaderActive, border: isHeaderActive}"
  >
    {{title}}
    <span
      class="text-xs absolute pin-r"
      v-show="!isHeaderActive || isAscending"
    >&#9650;</span>
    <span
      class="text-xs absolute pin-r"
      v-show="!isHeaderActive || !isAscending"
    >&#9660;</span>
  </th>
</template>
<script>
export default {
  name: "TableHeaderSort",
  props: {
    title: {
      type: String,
      required: true
    },
    isAscending: {
      type: Boolean,
      required: true
    },
    isActive: {
      type: String,
      required: false
    }
  },

  computed: {
    isHeaderActive () {
      return this.isActive == this.title;
    }
  }
};
</script>
<style>
th {
  color: #4a4a4a;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

th:hover {
  cursor: default;
}

.activate {
  border-top-color: rgb(0, 136, 206);
  color: rgb(0, 136, 206);
}

span:first-child {
  top: 15px;
}

span:last-child {
  bottom: 15px;
}
</style>

